
<div class="d-flex justify-content-between align-items-center flex-wrap mt-5">
    <div class="d-flex flex-wrap py-2 mr-3">
        <button class="btn btn-icon btn-sm btn-light mr-2 my-1 paginate"
            data-page="{{ context_data.pagination.page - 5 }}"
            {% if context_data.pagination.page <= 5 %}disabled{% endif %}>
            <i class="ki ki-bold-double-arrow-back icon-xs"></i>
        </button>
        <button class="btn btn-icon btn-sm btn-light mr-2 my-1 paginate"
            data-page="{{ context_data.pagination.page - 1 }}"
            {% if context_data.pagination.page == 1 %}disabled{% endif %}>
            <i class="ki ki-bold-arrow-back icon-xs"></i>
        </button>
        {% for page_num in context_data.pagination.pages[:5] %}
            {% if page_num != 0 %}
                {% if page_num == context_data.pagination.page %}
                    <button class="btn btn-icon btn-sm border-0 btn-light btn-hover-primary active mr-2 my-1">{{ context_data.pagination.page }}</button>
                {% else %}
                    <button class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1 paginate"
                        data-page="{{ page_num }}">{{ page_num }}</button>
                {% endif %}
            {% endif %}
        {% endfor %}
        <button class="btn btn-icon btn-sm btn-light mr-2 my-1 paginate"
            data-page="{{ context_data.pagination.page + 1 }}"
            {% if context_data.pagination.page <= context_data.pagination.total_page %}disabled{% endif %}>
            <i class="ki ki-bold-arrow-next icon-xs"></i>{{ page }}
        </button>
        <button href="#" class="btn btn-icon btn-sm btn-light mr-2 my-1 paginate"
            data-page="{{ context_data.pagination.page + 5 }}"
            {% if context_data.pagination.total_page > context_data.pagination.page - 5 %}disabled{% endif %}>
            <i class="ki ki-bold-double-arrow-next icon-xs"></i>
        </button>
    </div>
    <div class="d-flex align-items-center py-3">
        <span class="text-muted">Displaying {% if context_data.pagination.total < context_data.pagination.perpage %}{{ context_data.pagination.total }}{% else %}{{ context_data.pagination.perpage }}{% endif %} of {{ context_data.pagination.total }} records</span>
    </div>
</div>
<script>
    $('.paginate').on('click', function () {
        const page = $(this).data('page')
        let defaultFormData = Object.assign({{ context_data.payload_data|safe }}, {'page': page})
        ajaxSubpageRequest(buildFormData(defaultFormData))
    })
</script>